[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "==4.64.1"
requests = "==2.28.2"
argparse = "==1.4.0"
opencv-python = "==4.7.0.68"
pytesseract = "==0.3.10"

[dev-packages]

[requires]
python_version = "3.10"
